html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html,
body {
    height: 100%;
}
a{
    display: inline-block;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
body{
    overflow-x: hidden;
}
.shadows {
    position: relative;
    &::before{
        position: absolute;
        content: '';
        background-color: #000;
        opacity: 0.50;
        bottom: 0;
        width: 100%;
        z-index: 5;
        height: 100%;
    }
  }

.header__basket-link{
    p{
        margin-bottom: 0;
    }
}
.header__login{
    p{
        margin-bottom: 0;
    }
}