@import 'vars';
@import 'global';
@import 'fonts';

.header__top{
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.header__content{
    align-items: center;
    justify-content: space-between;
    width: inherit;
    padding-left: 25px;
    .header__content-search{
        display: none;
        border: none;
        outline: none;
        background: transparent;
        margin-right: 25px;
    }
}
.header__logo.hidden{
    display: none;
}
.header__logo{
    .logo-small{
        display: none;
    }
}
.header__search-form{
    max-width: 262px;
    width: 100%;
    position: relative;
    form{
        input{
            border: 2px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            background-color: transparent;
            @include f400;
            height: 44px;
            padding-left: 20px;
            padding-right: 35px;
            max-width: 262px;
            width: 100%;
            outline: none;
            margin-left: 20px;
            &::placeholder{
                color: rgba(0, 0, 0, 0.6);
                font-size: 14px;
                line-height: 17px;
            }
        }
        button{
            position: absolute;
            right: 7px;
            top: 7px;
            border: none;
            background-color: transparent;
            outline: none;
        }
    }
}
.header__phone,
.footer__phone,
.menu__phone-link{
    @include f600;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    &:hover{
        text-decoration: none;
        color: #000;
    }
}

.header__social-links{
    li{
        width: 30px;
        height: 30px;
        background-color: #02AC8F;
        border-radius: 50%;
        margin-right: 9px;
        &:last-child{
            margin-right: 0;
        }
    }
    .link-instagram{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/inst.svg);
            color: #fff;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            top: -10px;
            left: 6px;
        }
    }
    .link-vk{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/Vk.svg);
            color: #fff;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            top: -8px;
            left: 5px;
        }
    }
    .link-watsupp{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/whatsapp.svg);
            color: #fff;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            top: -10px;
            left: 6px;
        }
    }
    .link-youtube{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/youtube.svg);
            color: #fff;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            top: -9px;
            left: 5px;
        }
    }
}
.header__basket{
    display: flex;
    align-items: center;
    &-link{
        @include f400;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        padding-left: 30px;
        padding-right: 40px;
        position: relative;
        align-items: center;
        cursor: pointer;
        &:hover{
            text-decoration: none;
            color: #000;
        }
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/basket.svg);
            background-repeat: no-repeat;
            width: 21px;
            height: 21px;
            left: 0;
            top: 0px;
        }
        span{
            position: absolute;
            background-color: #02AC8F;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            padding-top: 6px;
            right: 0;
            top: -6px;
            text-align: center;
            @include f700;
            color: #fff;
        }
    }
    &-money{
        @include f700;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin-left: 10px;
    }
}
.header__login{
    @include f400;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    padding-left: 30px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: url(../images/icons/login.svg);
        width: 23px;
        height: 23px;
        background-repeat: no-repeat;
        left: 0;
    }
}
.menu{
    height: 64px;
    background: rgba(2, 172, 143, 0.05);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    align-items: center;
    display: flex;
    .menu__inner{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .menu__buttons{
        align-items: center;
    }
    .menu__phone-link{
        display: none;
        margin-right: 30px;
    }
    .menu__logo-btn{
        display: none;
        &__burger{
            cursor: pointer;
            display: none;
            &.on{
                display: block;
            }
        }

    }
}
.menu__list{
    height: 64px;
    align-items: center;
    display: flex;
    z-index: 10;
    li{
        margin-right: 28px;
        &:last-child{
            margin-right: 0;
        }
    }
    a{
        color: #000;
        @include f500;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
}
.menu__btn{
    justify-content: flex-end;
    align-items: center;
    button{
        background: rgba(2, 172, 143, 0.2);
        border-radius: 3px;
        color: $text;
        @include f600;
        font-size: 14px;
        line-height: 17px;
        height: 33px;
        border: none;
        padding-right: 10px;
        padding-left: 10px;
        outline: none;
        transition: 0.9s;
        &:hover{
            background: rgba(2, 172, 143, 0.4);
            transition: 0.9s;
        }
    }
}
//slider
.slider__item{
    background-image: url(../images/content/Slider-1.jpg);
    min-height: 700px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    &-text{
        padding-top: 215px;
    }
    &-title{
        @include f700;
        font-size: 47px;
        line-height: 59px;
        color: #fff;
        margin-bottom: 20px;
        span{
            color: rgba(0, 0, 0, 0.4);
        }
    }
    p{
        @include f500;
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        line-height: 22px;
        max-width: 423px;
        margin-bottom: 50px;
    }
    &-btn{
        align-items: center;
        display: flex;
        justify-content: flex-start;
        button{
            @include f600;
            font-size: 15px;
            line-height: 18px;
            background-color: transparent;
            border: none;
            outline: none;
            background: #FFE121;
            border-radius: 3px;
            height: 48px;
            max-width: 184px;
            width: 100%;
            transition: 0.9s;
            &:hover{
                background: #FFA524;
                transition: 0.9s;
            }
        }

    }
}
//about-us
.about-us{
    padding-top: 75px;
    padding-bottom: 65px;
}

.about-us__title{
    font-size: 30px;
    line-height: 37px;
    @include f600;
    color: #000;
    margin-bottom: 30px;
}
.about-us__content-col{
    .text{
        @include f400;
        color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .green{
        color: $text2;
        @include f700;
    }
}
.about-us__content-slider{
    .slick-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        z-index: 3;
        border: none;
        background-color: $text2;
        width: 30px;
        height: 60px;
        outline: none;
        padding-bottom: 5px;
        transition: all 1s;
        &:hover{
            background-color: $text;
            transition: all 1s;
        }
    }
    .slick-prev{
        left: 15px;
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
        padding-left: 0px;
    }
    .slick-next{
        right: 15px;
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
        padding-right: 0;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        li{
            margin-right: 20px;
            button{
                height: 14px !important;
                border-radius: 50%; 
                background-color: transparent; 
                border: 1px solid $text2;
                outline: none;
            }
       
            &:last-child{
                margin-right: 0;
            }
        }
        .slick-active{
            button{
                background-color: $text2;
            }
        }     
    }
}
.content-slider__item{
    background-image: url(../images/content/slider-2.jpg);
    min-height: 373px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
//memo
.memo{
    background-color: $text;
    min-height: 407px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 79px;
    .container-lg{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 288px;
            height: 144px;
            border-radius: 0 0 50% 50% / 0 0 100% 100%;
            background-color: $text2;
            top: -79px;
            left: -144px;
        }
        &::after{
            position: absolute;
            content: '';
            width: 171px;
            height: 85.5px;
            border-radius: 50% 50% 0 0 / 100% 100% 0 0;
            background-color: #4DF8AA;
            bottom: -68px;
            right: -85.5px;
        }
    }
    &__title{
        font-size: 30px;
        line-height: 37px;
        @include f600;
        color: #fff;
    }
    &__col{
        column-count: 3;
        p{
            @include f400;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            padding-left: 28px;
            position: relative;
            margin-bottom: 20px;
            &::before{
                position: absolute;
                content: url(../images/icons/trash.svg);
                left: 0;
            }
        }
        span{
            @include f600;
        }
    }
}
//work
.work{
    padding-top: 80px;
    padding-bottom: 20px;
    &__title{
        font-size: 30px;
        line-height: 37px;
        color: #000;
        @include f600;
        margin-bottom: 40px;
    }
    .work__content{
        justify-content: space-around;
        display: flex;
    }
    .link-work{
        text-align: center;
        padding-bottom: 50px;
        width: 250px;
        min-height: 270px;
        margin-bottom: 15px;
        &:hover{
            .subtitle-link{
                display: block;
            }
            .title-link{
                color: $text2;
            }
        }
        .item-link{
            max-width: 100px;
            width: 100%;
            height: 100px;
            border-radius: 50%;
            background: rgba(2, 172, 143, 0.2);
            margin: 0 auto;
        }
        .title-link{
            font-size: 17px;
            line-height: 21px;
            @include f600;
            color: #000;
            margin-top: 15px;
        }
        .subtitle-link{
            display: none;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.8);
            @include f400;
            transition: all 3s;
            margin-top: 15px;
            position: relative;
            &::before{
                position: absolute;
                content: url(../images/icons/arrow.svg) ;
                top: 60px;
                left: 45%;
            }
        }
        .trash{
            position: relative;
            &::before{
                position: absolute;
                content: url(../images/icons/trash-basket.svg);
                width: 53.98px;
                height: 59.99px;
                bottom: -7px;
                right: -20px;
            }
        }
        .car{
            position: relative;
            &::before{
                position: absolute;
                content: url(../images/icons/car.svg);
                width: 86.31px;
                height: 60px;
                bottom: -7px;
                right: -20px;
            }
        }
        .box{
            position: relative;
            &::before{
                position: absolute;
                content: url(../images/icons/box.svg);
                width: 66.29px;
                height: 69.99px;
                bottom: -7px;
                right: -20px;
            }
        }
        .sort{
            position: relative;
            &::before{
                position: absolute;
                content: url(../images/icons/sort.svg);
                width: 60.03px;
                height: 60px;
                bottom: -7px;
                right: -20px;
            }
        }
        .send{
            position: relative;
            &::before{
                position: absolute;
                content: url(../images/icons/send.svg);
                width: 70px;
                height: 70px;
                bottom: -7px;
                right: -20px;
            }
        }
    }
    
}
//footer
.footer{
    background: rgba(2, 172, 143, 0.2);
    padding-top: 60px;
}
.footer__col{
    li{
        display: block;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        a{
            @include f500;
            font-size: 15px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    &-btn{
        margin-top: 40px;
        button{
            border: none;
            background-color: $text2;
            color: #fff;
            font-size: 15px;
            line-height: 18px;
            @include f600;
            max-width: 175px;
            width: 100%;
            padding: 10px 20px;
            border-radius: 3px;
            transition: 0.9s;
            &:hover{
                background-color: $text;
                transition: 0.9s;
            }
        }
    }
}
.footer__contacts{
    justify-content: flex-end;
}
.footer__social-links{
    padding-top: 40px;
    li{
        width: 40px;
        height: 40px;
        background-color: #02AC8F;
        border-radius: 50%;
        margin-right: 9px;
        &:last-child{
            margin-right: 0;
        }
    }
    .link-instagram{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/inst_footer.svg);
            color: #fff;
            width: 21.33px;
            height: 21.33px;
            background-repeat: no-repeat;
            top: -8px;
            left: 9px;
        }
    }
    .link-vk{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/Vk_footer.svg);
            color: #fff;
            width: 26.67px;
            height: 26.67px;
            background-repeat: no-repeat;
            top: -11px;
            left: 5px;
        }
    }
    .link-watsupp{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/whatsapp_footer.svg);
            color: #fff;
            width: 21.33px;
            height: 21.33px;
            background-repeat: no-repeat;
            top: -9px;
            left: 9px;
        }
    }
    .link-youtube{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            background-image: url(../images/icons/youtube_footer.svg);
            color: #fff;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            top: -9px;
            left: 8px;
        }
    }

}
.footer__address{
    padding-top: 15px;
    font-size: 15px;
    line-height: 18px;
    @include f500;
    color: rgba(0, 0, 0, 0.6);
}
.footer__copy{
    background-color: $text2;
    margin-top: 60px;
    min-height: 60px;
    height: 100%;
    align-items: center;
    display: flex;
    &-site{
        @include f600;
        font-size: 15px;
        line-height: 18px;
        color: #fff;
        cursor: pointer;
        &:hover{
            color: #fff;
        }
        span{
            @include f500;
        }
    }
    .right-block{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@import 'media'; 


  